data/naive/*
data/benchmark/*/*
data/benchmark/*/*/*
!data/naive/annotations
.vscode/
logs/*
images/
*.pyc
__pycache__/
checkpoints/
test_logs/*
data.zip
checkpoints
transformer.log
history_npy/
gt_images/
*.jpg
*.zip
!.gitkeep
!test_logs/WFLW_HIH_04_16_20_55_12.log
Best/WFLW/WFLW.pth
